In [26]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

df_original = pd.read_csv("données sans doublon.csv")
df = df_original[['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges']]

display(df)

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1332   50    male  30.970         3     no  northwest  10600.54830
1333   18  female  31.920         0     no  northeast   2205.98080
1334   18  female  36.850         0     no  southeast   1629.83350
1335   21  female  25.800         0     no  southwest   2007.94500
1336   61  female  29.070         0    yes  northwest  29141.36030

[1337 rows x 7 columns]

In [27]:
display(df["children"].describe())

display(df.groupby('children').children.count())

count    1337.000000
mean        1.095737
std         1.205571
min         0.000000
25%         0.000000
50%         1.000000
75%         2.000000
max         5.000000
Name: children, dtype: float64

children
0    573
1    324
2    240
3    157
4     25
5     18
Name: children, dtype: int64

In [28]:
display(df["smoker"].describe())

display(df.groupby('smoker').smoker.count())

count     1337
unique       2
top         no
freq      1063
Name: smoker, dtype: object

smoker
no     1063
yes     274
Name: smoker, dtype: int64

In [29]:
display(df["region"].describe())

display(df.groupby('region').region.count())

count          1337
unique            4
top       southeast
freq            364
Name: region, dtype: object

region
northeast    324
northwest    324
southeast    364
southwest    325
Name: region, dtype: int64

In [30]:
display(df["charges"].describe())

count     1337.000000
mean     13279.121487
std      12110.359656
min       1121.873900
25%       4746.344000
50%       9386.161300
75%      16657.717450
max      63770.428010
Name: charges, dtype: float64